:host {
    display: flex;
    height: calc(100% - 95px);
    flex-direction: column;
    padding: 10px;
  }


section {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }
  section > media-item {
    margin: 10px;
  }

  h2 {
    color: #c6c5c3;
  }
  section > h2 {
    color: #53ace4;
  }
  section > h2 {
    color: #45bf94;
  }
